
@{
    ViewBag.Title = "CreateCat";
} 

<h2>CreateCat</h2>


<form asp-action="Create">
    <div class="form-group">
        <table>
            <tr>
                <td><label asp-for="Name">Category Name:</label></td>
                <td> <input asp-for="Name" class="form-control" /></td>
            </tr>
        </table>
    </div>
   
    <button type="submit" class="btn btn-group-sm btn-success">Create</button>
</form>